.manufacturer {
  background-image: url(../images/cat-paws-bg.webp);
  background-position: center center;
  background-repeat: repeat;
}

.manufacturer .container {
  padding: 60px 7px;
}

.manufacturer .section-title {
  text-align: center;
  margin-bottom: 60px;
  background: linear-gradient(180deg, #f9e994 0%, #537d13 56.25%, #483c08 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.manufacturer-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
}

.manufacturer-item {
  max-width: 306px;
  /* flex-basis: 100%; */
  border-radius: 20px;
  background-color: #f6e791;
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 0 15px 15px;
  display: flex;
  flex-direction: column;
}

.manufacturer-item .img-box {
  height: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.manufacturer-item .local-title {
  margin-bottom: 19px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.manufacturer-item .info-box {
  text-align: center;
  border-radius: 20px;
  background-color: rgba(161, 211, 55, 0.4);
  padding: 21px 16px;
  flex-grow: 1;
}

.manufacturer-item .text {
  color: #483c08;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .manufacturer-list {
    row-gap: 45px;
    column-gap: 45px;
  }
}

@media screen and (min-width: 1140px) {
  .manufacturer {
    background-image: url(../images/many-cat-paws-bg.webp);
    background-position: center center;
    background-repeat: no-repeat;
  }

  .manufacturer .container {
    padding: 100px 28px;
  }

  .manufacturer-list {
    justify-content: space-between;
    gap: 0;
  }

  .manufacturer-item {
    flex-basis: calc((100% - 84px * 2) / 3);
  }
}
